@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "fonts";
@import "posters.scss";
@import "links.scss";

body {
    background-image: url("../images/background.png");
    background-repeat:no-repeat;
    background-color: $mainColor;
    font-family: $mainFont;
}

.container {
    background-color: rgba(223, 223, 223, 0.5);
}

.table th, .table td {
    word-break: break-word;
}
