@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "fonts";
@import "posters.scss";
@import "links.scss";

body {
    background-image: url("../images/background.png");
    background-repeat:no-repeat;
    background-color: $mainColor;
    font-family: $mainFont;
}

.media {
    background-color: #dfdfdf;
    margin: 20px;
}
